name: tests

on:
  push:
  pull_request:

jobs:
  rust-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: fmt
        run: cargo fmt --all --check
      - name: clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
      - name: test
        run: cargo test --all
      - name: rustdoc
        run: RUSTDOCFLAGS="-D warnings" cargo doc --no-deps
      - name: install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: llvm-cov (all targets)
        run: cargo llvm-cov --all-features --all-targets --workspace --summary-only
